.showcase{
    width: 300px;
    height: 100px;
    position: relative;
}
.showcase video{
    width: 300px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
.title{
    width: 300px;
    height: 100px;
    background-color: #101010;
    font-size: 83px;
    color: #fff;
    mix-blend-mode: multiply;
}